<h1> app component </h1>

<div class="container" >
  <div class="row" >
     <div class="form-bg" >
       <form #regForm= 'ngForm' (ngSubmit)="Register(regForm)" >

        <h2 class="text-center" >registration page </h2>
<!--         
        <div class=" form-group " >
          <input type="text" class="form-control" placeholder="first name " name="firstname" ngModel >
        </div>

        <div class=" form-group " >
          <input type="text" class="form-control" placeholder="last name " name="lastname" ngModel >
        </div>
          
        <div class=" form-group " >
          <input type="text" class="form-control" placeholder="email id " name="Email" ngModel >
        </div>
          
        <div class=" align-center " >
         <button type="submit" class="  btn btn-primary " id="Register" >Register</button>
        </div>
           -->
          
              <!-- add validation, button not show before push text  -->
        <div class=" form-group " >
          <input required type="text" class="form-control" placeholder="first name " name="firstname" ngModel >
        </div>

        <div class=" form-group " >
          <input required type="text" class="form-control" placeholder="last name " name="lastname" ngModel >
        </div>
          
        <div class=" form-group " >
          <input email required #email="ngModel" type="text" class="form-control" placeholder="email id " name="Email" ngModel >
          <span class="help-bpx" *ngIf="email.touched && !email.valid " > please enter email  value</span>
        </div>
          
        <div class=" align-center " >
          <!-- <input type="text" class="form-control" placeholder="first name " name="firstname" ngModel > -->
         <button type="submit" class="  btn btn-primary " id="Register" [disabled]="!regForm.valid" >Register</button>
        </div>
          
       </form>
     </div>
  </div>

</div>